allow appdomain apk_data_file:dir r_dir_perms;
allow appdomain app_data_file:file x_file_perms;
allow appdomain domain:dir r_dir_perms;
allow appdomain domain:{ file lnk_file } r_file_perms;
allow appdomain shell_data_file:{ dir file } rw_file_perms;
allow appdomain shell_data_file:{ dir file } { setattr };
allow appdomain system_data_file:file { execute_no_trans };
allow appdomain zygote_exec:file r_file_perms;
allow appdomain self:process ptrace;
allow appdomain gpu_device:chr_file { read write open ioctl };
allow appdomain wallpaper_file:file getattr;
dontaudit appdomain appdomain:dir r_dir_perms;
dontaudit appdomain appdomain:file r_file_perms;
